<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>로또 당첨 횟수를 알아보자.</h1>
  <hr>
  <p>이번회차 당첨 번호: {{ winning_number }}+{{ bnus_number }}</p>

  <ul>
    <li>1등: {{ first }}번</li>
    <li>2등: {{ second }}번</li>
    <li>3등: {{ third }}번</li>
    <li>4등: {{ fourth }}번</li>
    <li>5등: {{ fifth }}번</li>
    <li>꽝: {{ boom }}번</li>
  </ul>
</body>
</html>